/* Remove header padrão do PrimeReact */
.register-modal .p-dialog-header {
    display: none !important;
    align-items: center;
    justify-content: center;
}

/* Fundo vermelho do modal */
.register-modal .p-dialog-content {
    background-color: #b13b3b;
    border-radius: 6px;
    padding: 2rem !important;
}


/* Layout dos campos */
.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* Campo individual */
.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Campo de linha inteira */
.form-group.full-width {
    flex-basis: 100%;
}

/* Label */
.form-group label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

/* Inputs */
.input-field {
    background-color: #cc6666 !important;
    border: none !important;
    border-radius: 8px !important;
    color: white !important;
}

/* Rodapé */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-style: italic;
    margin: 0; /* ZERE as margens aqui para o flexbox funcionar */
}

.title-box {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 0.2rem solid #fff;
    border-radius: 16px;
    
    /* O segredo do alinhamento interno: padding igual em cima e embaixo */
    padding: 0.8rem 2rem; 
    
    /* O segredo do alinhamento externo: 
       0 em cima, auto nos lados (centraliza a caixa), 2rem embaixo (afasta o form) */
    margin: 0 auto 2rem auto; 
}

/* Botão salvar */
/* .save-button {
    background-color: #6dc24b !important;
    border: none !important;
    color: black !important;
    font-weight: bold !important;
    width: 140px;
} */

.cancel-button{
    color:#fff
}
